@model TodoListApp.WebApi.Models.ViewModels.ForgotPasswordViewModel

@{
	ViewData["Title"] = "Forgot Password";
}

<div class="container my-5">
	<div class="card shadow-sm border-0">
		<div class="card-header bg-white border-bottom">
			<h1 class="card-title mb-0">@ViewData["Title"]</h1>
		</div>
		<div class="card-body">
			<form asp-action="ForgotPassword" method="post">
				<div class="form-group mb-3">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group mt-3">
					<input type="submit" value="Send Password Reset Email" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
